body{
    background-color: white;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.header-logo{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    z-index: 1;
}
.green-header{
    display: flex;
    background-color: #00582f;
    flex-flow: row nowrap;
    padding: 10px;
    justify-content: space-between;
    height: 25px;
    padding-right: 80px;
    font-size: 15px;
}
.options-green{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 auto;
    align-items: center;
}
.green-opt{
    margin: 12px;
}

.maroon-header{
    background-color: rgba(169,45,48,0.3);
    height: 75px;
    padding-left: 200px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 15px;
    align-items: center;
}
.maroon-opt{
    margin: 30px;
}
.news-item{
    background-image: url(images/PaNZK3gfEU.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot-news{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.news-wrap{
    background-color: #a92d30;
    border: solid #000;
    border-width: 1px 1px;
    padding: 8px;
    margin-bottom: 10px;
}
.news-headline{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
}
.member-img{
    display: block;
    padding: 100px;
    height: 700px;
    width: 1300px;
    margin-bottom: 0px;
}
/*
.main-section{
    margin: 100px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 10px;
}
.news-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image-one{
    flex: 0 0 100%;
    max-height: 300px;
}
.image-two{
    flex: 0 0 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    min-height: 300px;
}
.second-sec{
    display:flex;
    flex-wrap: nowrap;
}
.image-three{
    flex: 0 0 50%;
    margin-bottom: 20px;
    min-height: 300px;
}
.timeline-section{
    display: flex;
    flex-direction: column;
    background-color: #a92d30;
}
.timeline-item{
    flex-direction: row;
}
*/
.club-details{
    background-color: white;
    color: #000d1a;
    margin: 100px;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: solid #000;
    border-width: 1px 1px;
}
.score{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logos{
    height: 120px;
    width: 120px;
    margin: 10px;
    
}
.int{
    margin-bottom: 0px;
}
.intp{
    margin-top: 2px;
}
footer{
    color:#000d1a;
    border: solid #00582f ;
    border-width: 8px 0px 0px 0px;
    background-color: #aaa;
    padding: 20px;
    font-size: 1rem;
}
